.border-line::after {
  content: "";
  display: block;
  width: 25%;
  height: 6px;
  background-color: #312e43;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .border-line {
    display: flex;
    justify-content: center;
    align-self: center;        
  }
}
